/*CSS for index.html page*/
#index_button {
    background-color: mintcream;
    padding: 5px;
    width: auto;
    height: auto;
    margin: auto;
    border: 6px double black;
}

/*CSS For main shop page*/
/*Set margin, text-alignment, and add a background image*/
body {
    margin: auto;
    width: auto;
    text-align: center;
    background-image: url(./images/background.png);
    background-size: 100% 100%;
}
/*Create red background with border for main content*/
main {
    background-color: maroon;
    border: 6px solid black;
    padding: 10px;
    margin-left: 125px;
    margin-right: 125px;
}
/*Set shop item organization display; add white background and border to individual items ontop of red background*/
#shopGrid {
    word-wrap: normal;
    background-color: mintcream;
    display: inline-block;
    width: 360px;
    height: 360px;
    padding: 5px;
    border: 6px double black;
}
/*Set image size for div*/
#shopGrid > img  {
    width: 230px;
    height: 190px;
}
/*Set purchaseArea (button) to have similar colorscheme as shop items above*/
#purchaseArea {
    background-color: mintcream;
    text-align: center;
    border: 6px solid black;
    padding: 10px;
    width: 400px;
    margin: auto;
}
/*Set size of input submit buttons*/
input[type=submit] {
    width: 200px;
    height: 50px;
}
/*Set size of text form fields*/
input[type=text] {
    width: 145px;
}
/*Set color to footer information*/
footer {
    background-color: black;
    color: mintcream;
}

/*Table CSS for invoice for displayPurchase() function*/
/*Set background-color to white colorscheme*/
table {
    background-color: mintcream;
}