body {
    width: 800px;
    margin: auto;
    text-align: center;
    background-color: rgb(133, 191, 201);
    background-size: 100%;
    font-family: 'PT Sans Narrow',sans-serif;   
    padding-top: 160px; 
    position: sticky;
    z-index:3;
}

p.header {
    text-align: center;   
    Font: "Arial";
    font-size: 30px;
    font-style: normal;
    background-color: #3fb6d1;
}


p.body {
    text-align: center;
    Font: "Arial";
    font-size: 20px;
    font-style: "italics";
}

p.subheader {
    text-align: center;
    color: #a83297;
    font-size: 20px;
}

p.subbody {
    text-align: right;
    color: blue;
}

h1,h2 {
    text-align: center;
    color: rgb(5, 5, 5);
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans Narrow',sans-serif;  
    font-size:35px;  
}

h3 {
    padding-left: 10px;
    font-family: 'PT Sans Narrow',sans-serif;    
}

h4 {
    text-align: center;
    color:black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans Narrow',sans-serif;  
    font-size:35px;  
}

h5 {
  text-align: center;
  color:black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'PT Sans Narrow',sans-serif;  
  font-size:20px;  
}


.boxed {
    border: 1px solid green;
    background-color: rgb(240, 162, 188);
    height: auto; 
    border-radius: 25px;
    padding: 20px;
  }

  
  .boxed2 {
    border: 1px solid green;
    background-color: rgb(250, 196, 214);
    height: auto; 
    border-radius: 25px;
    padding: 20px;
  }

  
img{
    border-radius: 0%;
}

.logo {
    text-align: left;
}

.button1 {
	box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	background:linear-gradient(to bottom, #39b4ed 5%, #2a9ed4 100%);
	background-color:#39b4ed;
	border-radius:4px;
	border:1px solid #000405;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button1:hover {
	background: linear-gradient(to bottom, lightblue 5%, #39b4ed 100%);
	background-color: #2a9ed4;
}
.button1:active {
	position: relative;
    top: 1px;
    background-color: blue;
}


.button2 {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button2:hover {
	background:linear-gradient(to bottom, lightblue 40%, #bddbfa 100%);
	background-color:#80b5ea;
}
.button2:active {
	position:relative;
	top:1px;
}

.button3 {
	box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#528ecc;
	border-radius:4px;
	border:1px solid #000405;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button3:hover {
	background: linear-gradient(to bottom, lightblue 5%, #39b4ed 100%);
	background-color: #2a9ed4;
}



.button3:active {
	position: relative;
    top: 1px;
    background-color: blue;
}

.button4 {
	box-shadow:inset 0px -3px 7px 0px #f29ff2;
	background:linear-gradient(to bottom, #f3bdfa 5%, #ea80e5 100%);
	background-color:#cc52cc;
	border-radius:4px;
	border:1px solid #000405;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc52cc;
}
.button4:hover {
	background: linear-gradient(to bottom, rgb(230, 173, 227) 5%, #e739ed 100%);
	background-color: #d42acb;
}



.button4:active {
	position: relative;
    top: 1px;
    background-color: rgb(255, 0, 255);
}


.button5 {
	box-shadow:inset 0px -3px 7px 0px #f29ff2;
	background:linear-gradient(to bottom, #f3bdfa 5%, #ea80e5 100%);
	background-color:#cc52cc;
	border-radius:50%;
	border:1px solid #000405;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:20px 50px;
	text-decoration:none;
  text-shadow:0px 1px 0px #cc52cc;
}
.button5:hover {
	background: linear-gradient(to bottom, rgb(230, 173, 227) 5%, #e739ed 100%);
	background-color: #d42acb;
}



.button5:active {
	position: relative;
    top: 1px;
    background-color: rgb(255, 0, 255);
}

.column {
    float: left;
    width: 50%;
}

.header {
	margin-left: "5px";
	background-color: rgba(199, 229, 241, 0.938);
	text-indent: "50px";
  text-align: center;
  background-color: white;
    overflow: fixed;
    width: 100%;
    height:auto;
    top: 0; /* Stay at the top */
    left: 0;
    margin-left:0;
    position: fixed;
    z-index:1;
}


.break {
    margin-top: 400px;
}

.breaktestimonial {
    margin-top: 100px;
}

.breakevents {
    margin-top: 100px;
}

.breakgallery {
    margin-top: 1500px;
}

.smallbreak {
    margin-top: 50px;
}

.caption1 {
    text-align: center;
    Font: "Times";
    font-size: 18px;
    font-style: normal;
    background-color: white;
    width: 350px;
    height: 20px; 
    border-radius: 5px 20px 5px;
}

.mainfooter {
    text-align: left; 
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
   background-color: lightskyblue;
}



.schedule {
    border-radius: 50px;
    text-align: center;
    background-size: 50%;
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
}

.schedulecustom {
    border-radius: 50px;
    text-align: center;
    background-size: 50%;
    background-color: lightblue;
    color: lightcoral;
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(209, 230, 236);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(209, 230, 236);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(209, 230, 236);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 20px;
  }


/* table formatting styling */
th {
    background-color: rgb(166, 234, 255);
    color: black;
  }
  
  tr  {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  tr.title  {
    font-size: 25px;
    color: rgb(0, 0, 0);
  }

.index-header {
    color: #e66465;
    background-color: lightblue;
    text-align: center;
}


.title {
    font-style: italic; 
    font-family: 'Apple Chancery';
    font-weight: bolder;
    color: rgb(128, 96, 216);
    font-size: 50px;
    
}

.aboutus {
    background-color:#90dfff;
    text-align: left;
 
}

/* Dropdown Button */
.dropbtn {
  box-shadow:inset 0px -3px 7px 0px #9fb4f2;
	background:linear-gradient(to bottom, #39b4ed 5%, #2a9ed4 100%);
	background-color:#39b4ed;
	border-radius:4px;
	border:1px solid #000405;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family: 'PT Sans Narrow',sans-serif;    
	font-size:20px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  }

  .dropbtn:hover {
	background:linear-gradient(to bottom, lightblue 40%, #bddbfa 100%);
	background-color:#2a9ed4;
  } 

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:lightskyblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #80b5ea}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  /* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    top: 20%;
    left: 55%;
    background-color: rgba(167, 197, 197, 0.637);
    color: white;
  }

  .column {
    float: left;
    width: 50%;
  }
  
  .column2 {
    float: left;
    width: 33.33%;
  }

  .column3 {
    float: left;
    width: 33.33%;
    padding-left: 25px;
    padding-bottom: 5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Center Align Class Availability Page*/
  #centeravailable {
    text-align: center;
  }
  
  .column_avail {
    float: center;
  }

 #report_table {
  text-align: center;
}
