body {
    background-color: rgb(133, 191, 201);
    background-size: 100%;
}

/*Modified from https://www.w3schools.com/css/css_table.asp */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: white;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 625px;
    margin-right: auto;
    position: absolute;
  }

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}